.header{
    background-color: #fff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.logo{
    width: 120px;
    height: 45px;
    background-color: #FFFFFF;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}